<div class="shelf-detail-container">
    <div class="card detail-card">
      <div class="card-body">
        <h2 class="card-title text-success">{{ shelf.name }}</h2>
        <p class="card-text"><strong>Type:</strong> {{ shelf.type }}</p>
        <p class="card-text"><strong>ID:</strong> {{ shelf.id }}</p>
        <h5 class="mt-4 mb-2">Assigned Shelf Position:</h5>
        <ul class="list-group">
          <li class="list-group-item">
            {{ shelf.shelfPosition }}
          </li>
        </ul>
      </div>
    </div>
  </div>