<nav class="navbar navbar-expand-lg " style="background-color: #e3f2fd;">
    <div class="container">
      <a class="navbar-brand" href="#">Inventory Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-4">
          <li class="nav-item ">
            <a class="nav-link" routerLink="/device" routerLinkActive="active" style="cursor: pointer;">Devices</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/shelf" routerLinkActive="active" style="cursor: pointer;">Shelves</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink="/shelfposition" routerLinkActive="active" style="cursor: pointer;">Shelf Positions</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>